.container {
  .image {
    margin: 0 0 20px;

    @media (min-width: 640px) {
      margin: 0 0 20px;
    }
  }
}

.image-container {
  width: fit-content !important;
  height: fit-content !important;
  @media (min-width: 960px) {
    transform: unset !important;
  }
}

.vi {
  &-table {
    &__cell {
      &--flex {
        display: inline-flex;
        align-items: center;
        justify-content: flex-start;
      }
    }
  }
}
