.container {
  .image {
    & {
      margin: 0 0 20px;
    }

    @media (min-width: 640px) {
      margin: 0 0 20px;
    }
  }
}

.image-container {
  width: fit-content !important;
  height: fit-content !important;
  @media (min-width: 960px) {
    transform: unset !important;
  }
}

.vi-tooltip-list {
  border-radius: 4px;
  padding: 3px 6px;
  background-color: var(--vp-code-bg);
  transition:
    color 0.25s,
    background-color 0.5s;
  font-size: var(--vp-code-font-size);
  color: var(--vp-code-color);

  ul {
    padding-left: 20px;
    margin: 0;
    list-style: none;
  }

  li {
    margin-bottom: 5px;
  }
}
